# http://www.acuriousanimal.com/2016/08/14/configuring-atom-with-eslint.html
# https://medium.freecodecamp.org/how-to-set-up-eslint-in-atom-to-contribute-to-freecodecamp-3467dee86e2c
{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "mocha": true
  },
  "rules": {
    "linebreak-style": ["error", "windows"],
    "react/jsx-filename-extension": [1, {"extensions": [".js"]}],
    "arrow-parens": ["error", "as-needed"],
    "import/no-extraneous-dependencies": [error, { devDependencies: true }]
  }
}
